<% if(messages.success){ %>

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><%=messages.success %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%} %> <% if(messages.delete){ %>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=messages.delete %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%} %> <% if(messages.error){ %>

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong><%=messages.error %></strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

<%} %>
